@font-face {
  font-family: "Source Serif Pro";
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/SourceSerifPro-It.otf.woff2') format('woff2');
}
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SourceSerifPro-Regular.otf.woff2') format('woff2');
}
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/SourceSerifPro-Bold.otf.woff2') format('woff2');
}
* {
  margin: 0;
  padding: 0;
}
#page {
  margin: auto;
  margin-top: 3em;
  width: 700px;
}
body {
  background-color: #001f3f;
  color: WhiteSmoke;
  font-family: "Source Serif Pro", sans-serif;
  line-height: 1.3;
  font-size: 24px;
}
h1 {
  text-align: left;
  font-size: 38px;
  margin-bottom: 0.5em;
  color: #f0f0f0;
}
#pic-and-quote {
  display: flex;
  align-items: flex-start;
}
#author-image {
  height: 200px;
  border-radius: 10%;
  filter: grayscale(100%);
  margin-right: 1em;
  border: 0px solid;
}
blockquote {
  border-bottom: 3px solid #590d32;
  border-right: 3px solid #590d32;
  padding-bottom: 1em;
}
footer {
  margin-top: 0.5em;
  text-align: right;
  margin-right: 2em;
  font-size: 18px;
}
#about-author {
  margin-top: 0.5em;
  font-size: 15px;
  font-style: italic;
}
#buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#buttons ul {
  display: flex;
  margin-top: 1em;
}
#buttons ul li {
  list-style-type: none;
}
#buttons ul li a {
  text-decoration: none;
  box-sizing: content-box;
  margin-left: 2em;
  padding: 0.5em 1em;
  background-color: #001f3f;
  color: WhiteSmoke;
  border: 2px solid #590d32;
  font-family: "Source Sans Pro";
  cursor: pointer;
  font: 400 15px "Source Sans Pro";
}
#buttons ul li a:hover {
  background-color: #001730;
  color: #ffffff;
}
#buttons ul li a:active {
  background-color: #001020;
  border-color: #660f39;
}
@media (max-width: 800px) {
  #pic-and-quote {
    flex-direction: column;
    align-items: center;
  }
  #author-image {
    margin-bottom: 1em;
    margin-right: 0;
    margin-left: 0;
  }
  #page {
    width: 90%;
  }
  #buttons {
    justify-content: center;
  }
  #buttons ul li a {
    margin-left: 0;
  }
  blockquote {
    padding-right: 1em;
  }
  footer {
    margin-right: 1em;
  }
}
@media (max-width: 600px) {
  blockquote {
    font-size: 22;
  }
}
@media (max-width: 550px) {
  blockquote {
    font-size: 20;
  }
  footer {
    font-size: 16;
  }
}
@media (max-width: 475px) {
  blockquote {
    font-size: 18;
  }
  footer {
    font-size: 15;
  }
}
