@primary-color: #001f3f;
@secondary-color: #85144b;
@darker-secondary: darken(@secondary-color, 10%);
@text-color: WhiteSmoke;
@serif-font: "Source Serif Pro";
@sans-font: "Source Sans Pro";
@font-face {
	font-family: "Source Serif Pro";
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/SourceSerifPro-It.otf.woff2') format('woff2');
}
@font-face {
	font-family: "Source Serif Pro";
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/SourceSerifPro-Regular.otf.woff2') format('woff2');
}
@font-face {
	font-family: "Source Serif Pro";
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/SourceSerifPro-Bold.otf.woff2') format('woff2');
}
* {
  margin: 0;
  padding: 0;
}
#page {
  margin: auto;
  margin-top: 3em;
  width: 700px;
}
body {
  background-color: @primary-color;
  color: @text-color;
  font-family: @serif-font, sans-serif;
  line-height: 1.3;
  font-size: 24px;
}
h1 {
  text-align: left;
  font-size: 38px;
  margin-bottom: .5em;
  color: darken(@text-color, 2%);
}
#pic-and-quote {
  display: flex;
  align-items: flex-start;
}
#author-image {
    height: 200px;
    border-radius: 10%;
    filter: grayscale(100%);
    margin-right: 1em;
    border: 0px solid;
}
blockquote {
  border-bottom: 3px solid @darker-secondary;
  border-right: 3px solid @darker-secondary;
  padding-bottom: 1em;
}
footer {
  margin-top: .5em;
  text-align: right;
  margin-right: 2em;
  font-size: 18px;
}
#about-author {
  margin-top: .5em;
  font-size: 15px;
  font-style: italic;
}
#buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  ul {
    display: flex;
    margin-top: 1em;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        box-sizing: content-box;
        margin-left: 2em;
        padding: .5em 1em;
        background-color: @primary-color;
        color: @text-color;
        border: 2px solid @darker-secondary;
        font-family: @sans-font;
        cursor: pointer;
        font: 400 15px @sans-font;
        &:hover {
          background-color: darken(@primary-color, 3%);
          color: lighten(@text-color, 5%);
        }
        &:active {
          background-color: darken(@primary-color, 6%);
          border-color: darken(@secondary-color, 7%)
        }
      }
    }
  }
}
@media (max-width: 800px) {
  #pic-and-quote {
    flex-direction: column;
    align-items: center;
  }
  #author-image {
    margin-bottom: 1em;
    margin-right: 0;
    margin-left: 0;
  }
  #page {
    width: 90%;
  }
  #buttons {
    justify-content: center;
    ul li a {
      margin-left: 0;
    }
  }
  blockquote {
    padding-right: 1em;
  }
  footer {
    margin-right: 1em;
  }
}
@media (max-width: 600px) {
  blockquote {
    font-size: 22;
  }
}
@media (max-width: 550px) {
  blockquote {
    font-size: 20;
  }
  footer {
    font-size: 16;
  }
}
@media (max-width: 475px) {
  blockquote {
    font-size: 18;
  }
  footer {
    font-size: 15;
  }
}
